:root{
    --color-pincipal: #3FA49F;
}

/*****************************************************COMPONENTS ESTILOS*********************************/
.btn-principal{
    color: white;
    font-weight: 400;
    background-color: #45817d;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
}

.input-principal{
    display: inline-flex;
    border: none;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 30px;
    width: 350px;
    margin-bottom: 10px;
    outline: none;
}

.active{
    background-color: #45817d;
    text-decoration: none;
    padding: 6px;
    border-radius: 6px;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

*,
::after,
::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

/*****************************************************HOME ESTILOS*********************************/
.home{
    background-image: url("./components/layout/bg-home.png");
    background-color: var(--color-pincipal);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
}

.home .home__links{
    width: 100vw;
    height: 80px;
    background-color: var(--color-pincipal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.home__links a{
    cursor: pointer;
}

.home__links .home__links-logo img{
    width: 200px;
    margin-top: 60px;
}

.home__links .home__links-link{
    color: white;
    font-size: 1.5rem;
}

.home__links-link > *{
    margin-right: 20px;
}

.home__links-buton .register{
    font-weight: 400;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 400;
    margin-right: 20px;
}


.home__content{
    display: flex;
    justify-content: center;
}

.home__content section{
    width: 550px;
    text-align: center;
    margin-top: 50px;
}

.home__content h1{
    color: white;
    font-size: 4rem;
}

.home__content p{
    margin: 0 auto;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
}

.home__content .home__content_buttons{
    margin-top: 20px;
}

.home__content .home__content_buttons > *{ 
    margin-left: 20px;
}

/*****************************************************LOGIN ESTILOS*********************************/
.login{
    position: relative;
}

.login .login_left{
    position: absolute;
    width: 50%;
    text-align: center;
    margin-top: 80px;
}

.login .login_right{
    background-image: url("./components/auth/bg-login.png");
    background-color: var(--color-pincipal);
    width: 50%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25rem;
    position: absolute;
    right: 0;
}

.login .login_left img{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.login form{
    max-width: 600px;
    margin: 0 auto;
}

.login_left form h1{
    font-weight: 600;
    text-align: center;
}

.login_left form .iniciar-sesion{
    display: inline-block;
    width: 350px;
}

.login_left form .register{
    display: inline-block;
    width: 350px;
    margin-top: 10px;
}
